* {
  box-sizing: border-box;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.image {
    width: 250px;
    height: auto;
}

body {
    background-image: url("images/ep_naturalwhite.png");
    background-repeat: repeat;
    height: 100%;
}

.kiss {
    position: absolute;
}

.center {
    left: 50%;
    margin-left: -480px;
    width: 960px;
}

#white {
    color: #ffffff;
    font-weight: bold;
}

.tblue {
    color: #4aaaa5;
}

.fontbaby {
    font-family: Georgia, Times, "Times New Roman", serif;
}

.bluu {
    background-color: #4aaaa5;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
}

.h {
    height: 100%;
}

.h2 {
    height: 70px;
}

.pad {
    padding-top: 20px;
}

.pad2 {
    padding-top: 6px;
}

.padr {
    padding-right: 6px;
}



.push, .feet {
    height: 92px;
}
.feet {
    width: 100%;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    bottom: 0;
}

.ab {
    position: absolute;
}